<!DOCTYPE html(lang='en')>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>BAZA - 02.07.2016</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>
  <!-- Libs-->
  <link rel="stylesheet" href="/lib/normalize-css/normalize.css" media="all"/>
  <!-- Custom styles-->
  <link rel="stylesheet" href="/css/styles.css" media="all"/>
  <!-- Libraries and Plugins-->
  <script src="/lib/jquery/dist/jquery.min.js" defer=""></script>
  <!-- Custom scripts and Dll-->
  <script src="/js/index.js" defer=""></script>
</head>
<body>
  <h1>hello Johny</h1>
</body>
